<div class="panel panel-default form-inline">
  <div class="panel-heading"><h3>フォロー Best <%= @followed_rank.count %></h3> </div>
  <% @users.each do |user| %>
    <div class="panel-body">
      <%= gravatar_for user %>
        
        <ul class="list-inline">
          <li class="col-sm-2">
            <%= link_to user.name, user_path(user) %></li>
          <li >(followed : <%= @followed_rank[user.id] %>)</li>
        </ul>
        <ul class="list-inline">
          <li class="col-sm-2">メール</li>
          <li ><%= user.email %></li>
        </ul>
        <ul class="list-unstyled">
          <li class="">プロフィール</li>
          <li class=""><%= user.profile %></li>
        </ul>
    </div>
  <% end %>
</div>
