<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      
      <div>
        <dl class="dl-horizontal col-xs-6 col-xs-offset-3">
          <dt>EMAIL</dt>
          <dd><%= @user.email %></dd>
      
          <dt>BIRTHDAY</dt>
          <dd><%= @user.birthday %></dd>
      
          <dt>AREA</dt>
          <dd><%= JpPrefecture::Prefecture.find(@user.area).name if @user.area.present? %></dd>
      
          <dt>PROFILE</dt>
          <dd><%= @user.profile %></dd>
        </dl>
      <div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>
