<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <dl>
        <h1>
          <%= @user.name %>
          <%= gravatar_for @user %>
        </h1>
        <div class="clearfix">
          <table class="table">
              <tbody>
                  <tr>
                      <td>EMAIL</td>
                      <td><%= @user.email %></td>
                  </tr>
                  <tr>
                      <td>BIRTHDAY</td>
                      <td><%= @user.birthday %></td>
                  </tr>
                  <tr>
                      <td>AREA</td>
                      <td><%= JpPrefecture::Prefecture.find(@user.area).name if @user.area.present? %></td>
                  </tr>
              </tbody>
          </table>
        </div>
        <dt>PROFILE</dt>
        <dd><%= @user.profile %></dd>
      </dl>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @micropost %>
      </ol>
    <% end %>
  </div>
</div>
