<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="">
        <h1>
          <%= @user.name %>
          <%= gravatar_for @user %>
        </h1>
        
        <div class="clearfix"></div>
        <ul class="list-inline">
          <li>
            <%= link_to "#{@user.following_users.count}  フォロー", "#{@user.id}/followings" %>
          </li>
          <li>
            <%= link_to "#{@user.follower_users.count}  フォロワー", "#{@user.id}/followers" %>
          </li>
        </ul>
        <ul class="list-inline">
          <li class="col-sm-2">メール</li>
          <li ><%= @user.email %></li>
        </ul>
        <ul class="list-inline">
          <li class="col-sm-2">生年月日</li>
          <li><%= @user.birthday %></li>
        </ul>
        <ul class="list-inline">
          <li class="col-sm-2">エリア</li>
          <li><%= JpPrefecture::Prefecture.find(@user.area).name if @user.area.present? %></li>
        </ul>

        <ul class="list-unstyled">
          <li class="">プロフィール</li>
          <li class=""><%= @user.profile %></li>
        </ul>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @micropost %>
      </ol>
    <% end %>
  </div>
</div>
